<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Create a new Dog</h1>

  <form method="POST" action="/dogs">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <input type="submit" value="Create Dog">
  </form>
</body>

</html>
